<h1>Password#reset</h1>

<p>
  Hi <%= @user.name %>
A password reset was requested.
If this was you, click on the link to reset your password. The link will expire automatically in 15 minutes.
<%= password_reset_edit_url(token: @token) %>
</p>
