<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<p>
Hi <%= @user.full_name %>
</p>
<p>
A password reset was requested.
</p>
<p>
If this was you, click on the link to reset your password. The link will expire automatically in 15 minutes.
<a href="http://localhost:4000/login/password/reset/edit/<%= @token %>">Reset Password</a> 
</p>
</body>
</html>
